
body{
  background: black;
  color: white;  
  
}
.text-contaner{
  height: 30px;
  width: 200px;
}
.btn-container{
  margin-top: 30px;
}

#message{
  border-bottom: 2px solid white;
  
}

#err-message{
  color: red;
  margin-top:10px;
  margin-bottom:10px;
}